<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="secureAppSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<appSettings>
		<add key="DarkThemeYN" value="N" />
	</appSettings>
	<secureAppSettings configProtectionProvider="DataProtectionConfigurationProvider">
  <EncryptedData>
   <CipherData>
    <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAcD44g6Ut3keHDxpa6QkeQAQAAAACAAAAAAAQZgAAAAEAACAAAABrsll8lrJtfEUhNqwkwjebgyqDKb/4GQEmbXhZNfvlwwAAAAAOgAAAAAIAACAAAADd5Gah4GGTBanAYxh9mvnY2H6ePX+l8LQcsjckrjWjDBABAABz+tCoL7ByZWNfX8ufWOBVbaIisn74Uu8LJMxfdz0atBv7KW8qpaMLG+vPFiUb942J8XaumV0Xi3CLe1MFEwoNwsOFr4CmtuBHEsx6N9SZ/3t7sJ5qQcoYCdMuxW2IrXomALwoHM3o8HyopfPWLcrWygLKd9vqy7od13fBgoDCa8n08DHcODWfJui+mtW0E671UzoY5g8FnxER6hGFEPfonk5lc5x+3POTmbw+RDLQPwA/FHGQNC9o302S8+QTOpi69zjDwC3fu8xXHz0gRNmoCX6HwXxRVyUXOX8fUN7/EnpA0/7IOy57t53S8fNSo/9zPfwnJKesLnvHBT6OqjKGplA23EuBHvqzw9P5ihB2bEAAAADwPoSljhDDqqT8WSk0TQ3fHW0HynJgGFD1djv4z+zEi6pIV2pJkkYSItaeBZzl5hNcg2eVzYyaowZBykeh4exO</CipherValue>
   </CipherData>
  </EncryptedData>
 </secureAppSettings>
	
</configuration>